<!Doctype html>
<html>
<head>
	<title>Designer | Ryan Kramer Designs</title>
	<meta charset="UTF-8"> 
	<link rel="stylesheet" href="../normalize.css">
	<link rel="stylesheet" href="../style.css">
	<meta name="viewport" content="width=device-width">
	<link href="https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps|Miriam+Libre" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Megrim" rel="stylesheet">
</head>

<body>

<div>

	<div class="main-nav">
		<div class="logo-link nav"><a href="../index.html"><img src="../IMAGES/KramerLogo.svg"></a></div>
		<!-- <div class="link-1 nav"><a href="designer.html">Designer</a></div> <!-- this will be active on the Developer page. -->
		<div class="link-2 nav"><a href="developer.html">Developer</a></div> <!-- this will be active on the Designer page. -->
		<div class="link-3 nav"><a href="portfolio.html">Portfolio</a></div>
		<div class="link-4 nav"><a href="about.html">About Me</a></div>
		<div class="link-5 nav"><a href="contact.html">Contact Me</a></div>
	</div>
	
	<div class="content-container">
	
		<header>
			<h1 class="de-h1">Designer</h1>
		</header>
	
		<div class="primary col t-border">
			<p>I am part Designer, and part Developer. I graduated from the Art Institute of Pittsburgh with a Bachelor's of Science in Game Art and Design, as part of the Honor Society, and a member of the Dean's List. I am skilled in many different designer softwares and styles, including: 3DS Max, Maya, Photoshop, UE3, After Effects, Premiere, 3D Modeling, 3D Texturing, 3D Animation, Logo Design, Image Manipulation, and more. Below are links to some of my designs, including a website, logo design, 3D work, and 3D animation.</p>
		</div>
		
		<div class="img-links t-border">
			
			<div class="IMG-link"><a href="TBP.html"><img src="../IMAGES/TBP/TBP_thumb.jpg" class="IMG-glow"></a></div>
			<div class="IMG-link"><a href="Logo2.html"><img src="../IMAGES/TBP/TB-Logo-thumb.jpg" class="IMG-glow"></a></div>
		
		</div>
		
	</div>
				

</div>

	<footer class="main-footer">
		<div class="SM-Nav">
			<div class="SM-1 Soc"><a href="https://www.facebook.com/RyanK613"><img src="../IMAGES/FB-Logo.png" class="FB-Logo"></a></div>
			<div class="SM-2 Soc"><a href="https://www.linkedin.com/in/ryan-e-kramer"><img src="../IMAGES/Linkedin-Logo.png" class="L-Logo"></a></div>
			<div class="SM-3 Soc"><a href="https://github.com/Durmaethor"><img src="../IMAGES/Github-Logo.svg" class="G-Logo"></a></div>
		</div>
		<p class="C-text">&copy;2016 -- Ryan Kramer</p>
	</footer>

</body>
</html>