<!Doctype html>
<html>
<head>
	<title>Developer | Ryan Kramer Designs</title>
	<meta charset="UTF-8"> 
	<link rel="stylesheet" href="../normalize.css">
	<link rel="stylesheet" href="../style.css">
	<meta name="viewport" content="width=device-width">
	<link href="https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps|Miriam+Libre" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Megrim" rel="stylesheet">
</head>

<body>

<div>

	<div class="main-nav">
		<div class="logo-link nav"><a href="../index.html"><img src="../IMAGES/KramerLogo.svg"></a></div>
		<div class="link-1 nav"><a href="designer.html">Designer</a></div> <!-- this will be active on the Developer page. -->
		<!--<div class="link-2 nav"><a href="developer.html">Developer</a></div>--> <!-- this will be active on the Designer page. -->
		<div class="link-3 nav"><a href="portfolio.html">Portfolio</a></div>
		<div class="link-4 nav"><a href="about.html">About Me</a></div>
		<div class="link-5 nav"><a href="contact.html">Contact Me</a></div>
	</div>
	
	<div class="content-container">
	
		<header>
			<h1 class="d-h1">var Developer = Ryan Kramer</h1>
		</header>
	
			<div class="primary col t-border">
				<p>I am part Developer, and part Designer. I have been playing with Front End code since I was about 15, and am very well versed in HTML and CSS at this point. I continue to learn new things daily, and have been adding to my website portfolio substantially over the last few months while working on my tech certification through <a href="http://www.teamtreehouse.com">Treehouse</a>. Below are links to both my HTML and CSS work for one of my latest projects, <a href="http://www.twobrotherspowersportsutah.com">Two Brothers Powersports</a>.</p>
			</div>
			
		<div class="img-links t-border">
			
			<div class="IMG-link"><a href="TBP_C.html"><img src="../IMAGES/TBP/TBP_home_code_thumb.jpg" class="IMG-glow"></a></div>
			<div class="IMG-link"><a href="TBP_C.html"><img src="../IMAGES/TBP/TBP_CSS_thumb.jpg" class="IMG-glow"></a></div>
		
		</div>
		
		<div class="secondary col t-border">
			<p>Although it is tough to show full pages of code on a website, I have provided my Github profile link in the footer to this website. Each page - either HTML, CSS (or other formats when I add them) - will simply go into my coding principles, and give small examples of my layouts via screen captures. To see the full code for each site, go to my portfolio and feel free to inspect the source code from all my various works there.</p>
		</div>
			
	</div>
	
</div>

	<footer class="main-footer">
		<div class="SM-Nav">
			<div class="SM-1 Soc"><a href="https://www.facebook.com/RyanK613"><img src="../ryanKramer/IMAGES/FB-Logo.png" class="FB-Logo"></a></div>
			<div class="SM-2 Soc"><a href="https://www.linkedin.com/in/ryan-e-kramer"><img src="../ryanKramer/IMAGES/Linkedin-Logo.png" class="L-Logo"></a></div>
			<div class="SM-3 Soc"><a href="https://github.com/Durmaethor"><img src="../ryanKramer/IMAGES/Github-Logo.svg" class="G-Logo"></a></div>
		</div>
		<p class="C-text">&copy;2017 -- Ryan Kramer</p>
	</footer>


</body>
</html>