<!Doctype html>
<html>
<head>
	<title>Designer | Ryan Kramer Designs</title>
	<meta charset="UTF-8"> 
	<link rel="stylesheet" href="../Ryan Kramer/normalize.css">
	<link rel="stylesheet" href="../Ryan Kramer/style.css">
	<meta name="viewport" content="width=device-width">
	<link href="https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps|Miriam+Libre" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Megrim" rel="stylesheet">
</head>

<body>

<div class="wrap">

	<div class="main-nav">
		<div class="logo-link nav"><a href="index.html"><img src="../Ryan Kramer/IMAGES/KramerLogo.svg"></a></div>
		<div class="link-1 nav"><a href="designer.html">Designer</a></div> <!-- this will be active on the Developer page. -->
		<div class="link-2 nav"><a href="developer.html">Developer</a></div> <!-- this will be active on the Designer page. -->
		<div class="link-3 nav"><a href="portfolio.html">Portfolio</a></div>
		<div class="link-4 nav"><a href="about.html">About Me</a></div>
		<div class="link-5 nav"><a href="contact.html">Contact Me</a></div>
	</div>
	
	<div class="content-container">
	
		<header>
			<h1 class="de-h1">My Simple Home Business</h1>
		</header>
		
		<div class="secondary col t-border">
			<p>This was the first "full" website I built, and launched live, since I began pursuing front end development professionally. It is a website for a side business that my wife and I are working. So far it has brought some wonderful results for us, and I continue to brainstorm updates for it as I learn more. You can view the full website <a href="http://www.mysimplehomebusiness.com/">here</a>.</p>
		</div>
				
		<div class="MSHB-img"><img src="../Ryan Kramer/IMAGES/MSHB/MSHB_home.jpg"></div>
		
		<div class="MSHB-content2 col">		
			<p>My process for designing this site was this: I wanted a site that portrayed a home business, but that was also friendly and simple.I chose the fonts on Google Fonts that had the look and feel that I was after, and that also gave the feeling of a "home business". This kept the site lite and airy, and made us very approachable by people viewing it. The color scheme is also simple and warm, and meets our personal desire as well.</p>
		</div>
				
		<div class="MSHB-img><img src="../Ryan Kramer/IMAGES/MSHB/MSHB_basics.jpg"></div>
					
	</div>
	
</div>

	<footer class="main-footer">
		<div class="SM-Nav">
			<div class="SM-1 Soc"><a href="https://www.facebook.com/RyanK613"><img src="../Ryan Kramer/IMAGES/FB-Logo.png" class="FB-Logo"></a></div>
			<div class="SM-2 Soc"><a href="https://www.linkedin.com/in/ryan-e-kramer"><img src="../Ryan Kramer/IMAGES/Linkedin-Logo.png" class="L-Logo"></a></div>
			<div class="SM-3 Soc"><a href="https://github.com/Durmaethor"><img src="../Ryan Kramer/IMAGES/Github-Logo.svg" class="G-Logo"></a></div>
		</div>
		<p class="C-text">&copy;2016 -- Ryan Kramer</p>
	</footer>

</body>

</html>