<!Doctype html>
<html>
<head>
	<title>Designer | Ryan Kramer Designs</title>
	<meta charset="UTF-8"> 
	<link rel="stylesheet" href="../Ryan Kramer/normalize.css">
	<link rel="stylesheet" href="../Ryan Kramer/style.css">
	<meta name="viewport" content="width=device-width">
	<link href="https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps|Miriam+Libre" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Megrim" rel="stylesheet">
</head>

<body>

<div class="wrap">

	<div class="main-nav">
		<div class="logo-link nav"><a href="index.html"><img src="../Ryan Kramer/IMAGES/KramerLogo.svg"></a></div>
		<!-- <div class="link-1 nav"><a href="designer.html">Designer</a></div> <!-- this will be active on the Developer page. -->
		<div class="link-2 nav"><a href="developer.html">Developer</a></div> <!-- this will be active on the Designer page. -->
		<div class="link-3 nav"><a href="portfolio.html">Portfolio</a></div>
		<div class="link-4 nav"><a href="about.html">About Me</a></div>
		<div class="link-5 nav"><a href="contact.html">Contact Me</a></div>
	</div>
	
	<div class="content-container">
	
		<header>
			<h1 class="P-h1">Portfolio</h1>
		</header>
	
		<div class="primary col t-border">
			<p>Below are links to all of my most recent work. This includes websites, logo designs, code, 3D work, etc.</p>
		</div>
		
		<div class="img-links t-border">
			
			<div class="IMG-link"><a href="MSHB.html"><img src="../Ryan Kramer/IMAGES/MSHB/MSHB_thumb.jpg" class="IMG-glow"></a></div>
			<div class="IMG-link"><a href="TBP.html"><img src="../Ryan Kramer/IMAGES/TBP/TBP_thumb.jpg" class="IMG-glow"></a></div>
			<div class="IMG-link"><a href="Logo1.html"><img src="../Ryan Kramer/IMAGES/KramerLogo.jpg" class="IMG-glow"></a></div>
			<div class="IMG-link"><a href="Logo2.html"><img src="../Ryan Kramer/IMAGES/TBP/TB-Logo-thumb.jpg" class="IMG-glow"></a></div>
		
		</div>
		
	</div>
				

</div>

	<footer class="main-footer">
		<div class="SM-Nav">
			<div class="SM-1 Soc"><a href="https://www.facebook.com/RyanK613"><img src="../Ryan Kramer/IMAGES/FB-Logo.png" class="FB-Logo"></a></div>
			<div class="SM-2 Soc"><a href="https://www.linkedin.com/in/ryan-e-kramer"><img src="../Ryan Kramer/IMAGES/Linkedin-Logo.png" class="L-Logo"></a></div>
			<div class="SM-3 Soc"><a href="https://github.com/Durmaethor"><img src="../Ryan Kramer/IMAGES/Github-Logo.svg" class="G-Logo"></a></div>
		</div>
		<p class="C-text">&copy;2016 -- Ryan Kramer</p>
	</footer>

</body>
</html>